// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    margin: 33px;
}

h1 {
    font-size: 2em;
}

strong {
    font-weight: bold;
    font-family: verdana, arial, helvetica, sans-serif;
}

p {
    font-size: 13px;
    font-family: verdana, arial, helvetica, sans-serif;
    line-height: 18px;
    margin: 33px;
}